<html lang="en">
<script>
    function eraseSession() {
        sessionStorage.removeItem('stytch-session');
        window.location.href = "http://localhost:3000/";
    }
</script>
<body>
<div>
    <h1>You're already logged in!</h1>
    <p>
        You have a valid session in your browser.
        If you'd like to erase your session information, click below.
    </p>
    <br>
    <button onclick="eraseSession()">
        Erase Session
    </button>
</div>
</body>
</html>