<html lang="en">
<body>
<div>
    <h1>Welcome</h1>
    <h3>Add your email to authenticate via Magic Links</h3>
    <p>
        Optionally, include an Organization ID from your Stytch Dashboard to
        authenticate with a specific Organization.
    </p>
    <p>
        <b>
            Ensure you have added the email address' domain to the list of allowed
            domains for the Organization and that users from allowed domains can join
            via JIT Provisioning if you wish to do this.
        </b>
    </p>
    <form method="post" action="/magic-links/login-signup">
        <label for="email">Email: </label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="organizationId">Organization ID: </label><br>
        <input type="text" id="organizationId" name="organizationId"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>